<h2>Edit Article</h2>

<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label>Update Title:</label>
    <input type="text" name="title" value="<%= @article.title %>"><br>

    <label>Update Content:</label>
    <input type="text" name="content" value="<%= @article.content %>"><br>

    <input type="submit" id="Submit">
</form>
