<h1>Create a new Article!</h1>
<form action="/articles" method="post">
  <p>Title:<input type="text" name="title"></p>
  <p>Content:<textarea id="content" type="text" name="content">
      </textarea></p>
  <input type="submit"/>
</form>
